name: Manual
on:
  workflow_dispatch:
    inputs:
      loglevel:
        type: choice
        description: Select the log level 
        options:
          - debug
          - info
          - warning
          - error

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "${{ inputs.loglevel }}"